<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="vendor/angular-material/angular-material.min.css">
  <link href="vendor/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="assets/css/index.css" />
</head>

<body ng-app="softruck-test">
  <header>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><span>Softruck test - Getting fuel information from ANP</span></h2>
        <span flex></span>
      </div>
    </md-toolbar>
  </header>

  <article>
    <md-content ng-controller="InformationController as i">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Informations">
          <section layout="row" layout-align="center center" style="margin: 2px;">
            <div class="md-whiteframe-4dp" style="margin: 10px" flex-gt-lg="30" flex-sm="100" flex-lg="30" layout="column" layout-align="center center">
              <h1 class="md-title" style="margin: 2px;">Select a state to find fuel information</h1>
              <md-input-container style="width: 90%;">
                <label>State</label>
                <md-select ng-model="i.state">
                  <md-option ng-selected="($index == 0) ? true:false" ng-repeat="state in i.states" value="{{state.value}}">
                    {{state.name}}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-button flex-md="100" class="md-primary md-raised" ng-disabled="i.loadingData" ng-click="i.getInformation(i.state)">
                <md-icon>search</md-icon>
              </md-button>
            </div>
          </section>

          <div layout="row" layout-align="center center" ng-show="i.loadingData">
            <md-progress-circular class="loading-table" md-diameter="100px" md-mode="indeterminate"></md-progress-circular>
          </div>

          <content-wrapper show-gt-lg show-md hide-sm hide-xs layout="column" class="md-whiteframe-4dp table-section" ng-show="i.data.length && !i.loadingData">
            <md-toolbar class="md-table-toolbar md-default">
              <div class="md-toolbar-tools">
                <span>ANP fuel information</span>
              </div>
            </md-toolbar>

            <md-table-container>
              <table md-table md-table>
                <thead md-head>
                  <tr md-row>
                    <th md-column>State</th>
                    <th md-column>City</th>
                    <th md-column>Stations found</th>
                    <th md-column>Details</th>
                  </tr>
                </thead>
                <tbody md-body ng-repeat="info in i.data">
                  <tr md-row ng-repeat="city in info.cities">
                    <td md-cell>{{info.name}}</td>
                    <td md-cell>{{city.name}}</td>
                    <td md-cell>{{city.stations}}</td>
                    <td md-cell>
                      <md-icon class="icon-details" ng-click="i.showDetail(info.name, city.name)">info</md-icon>
                    </td>
                    <md-icon>
                    </md-icon>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
          </content-wrapper>
          <content-wrapper flex layout-align="center center" hide-gt-sm show-sm show-xs layout="column" ng-show="i.data.length && !i.loadingData" class="md-whiteframe-4dp">
            <h3 style="margin: 10px">Results:</h3>
            <div ng-repeat="info in i.data">
              <div ng-repeat="city in info.cities" layout="column" class="md-whiteframe-2dp" style="margin:10px; padding: 5px">
                <label><b>State: </b>{{info.name}}</label>
                <label><b>City: </b>{{city.name}}</label>
                <label><b>Fuel Type: </b>{{i.getFuelTypeName(city.statistics)}}</label>
                <label><b>Stations founded: </b>{{city.stations.length}}</label>
                <label><b>Details: </b>
                  <md-icon class="icon-details" ng-click="i.showDetail(info.name, city)">info</md-icon>
                </label>
              </div>
            </div>
          </content-wrapper>
        </md-tab>
        <md-tab md-on-deselect="i.unselectTabJson()" label="JSON" md-on-select="i.getAllData()">
          <div layout="row" layout-align="center center" ng-show="i.loadingJson">
            <md-progress-circular class="loading-table" md-diameter="100px" md-mode="indeterminate"></md-progress-circular>
          </div>
          <div ng-show="!i.jsonData.length && !i.loadingJson" class="no-content-label" layout="row" layout-align="center center">
            <label>No content.</label>
          </div>
          <section layout="column" class="md-whiteframe-4dp table-section" ng-show="i.jsonData.length">
            <pre>{{i.jsonData | json}}</pre>
          </section>
        </md-tab>
      </md-tabs>
    </md-content>
  </article>

  <script src="vendor/angular/angular.min.js" type="text/javascript"></script>
  <script src="vendor/angular-animate/angular-animate.min.js" type="text/javascript"></script>
  <script src="vendor/angular-aria/angular-aria.min.js" type="text/javascript"></script>
  <script src="vendor/angular-messages/angular-messages.min.js" type="text/javascript"></script>
  <script src="vendor/angular-material/angular-material.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="vendor/angular-material-data-table/dist/md-data-table.min.js"></script>

  <!-- Dependencies -->
  <script src="app/app.module.js"></script>
  <script src="app/app.gateway.js"></script>
  <script src="app/information/information.service.js"></script>
  <script src="app/information/information.controller.js"></script>
  <script src="app/information/_information-detail.controller.js"></script>
</body>

</html>
