<style>
  th,
  td {
    text-align: center;
  }

  table {
    border-collapse: collapse;
  }
  table,
  th,
  td {
    border: 1px solid black;
  }

</style>
<md-dialog>
  <md-dialog-content>
    <section>
      <div class="md-whiteframe-4dp" style="margin:5px">
        <div style="margin:10px" layout="column">
          <div layout="row" style="margin:10px">
            <h3 flex>
              {{data.name}}
              -
              {{state}}
            </h3>
          </div>
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Consumer Price">
              <div ng-repeat="item in data.statistics" layout="column" style="margin: 10px;">
                <div class="md-whiteframe-2dp" style="padding: 10px">
                  <legend>
                    <b>{{item.type}}</b>
                  </legend>
                  <table show-gt-lg show-md hide-sm hide-xs style="width:100%; margin-top: 10px; border-collapse: collapse;">
                    <thead>
                      <tr>
                        <td>Average Price</td>
                        <td>Standard Deviation</td>
                        <td>Minimun Price</td>
                        <td>Maximun Price</td>
                        <td>Average Margin</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>{{item.consumerPrice[0].averagePrice}}</th>
                        <th>{{item.consumerPrice[0].standardDeviation}}</th>
                        <th>{{item.consumerPrice[0].minPrice}}</th>
                        <th>{{item.consumerPrice[0].maxPrice}}</th>
                        <th>{{item.consumerPrice[0].averageMargin}}</th>
                      </tr>
                    </tbody>
                  </table>
                  <div hide-gt-sm show-sm show-xs layout="column">
                    <label>
                      <b>Average Price:
                      </b>
                      {{item.consumerPrice[0].averagePrice}}</label>
                    <label>
                      <b>Standard Deviation:
                      </b>
                      {{item.consumerPrice[0].standardDeviation}}</label>
                    <label>
                      <b>Minimun Price:
                      </b>
                      {{item.consumerPrice[0].minPrice}}</label>
                    <label>
                      <b>Maximun Price:
                      </b>
                      {{item.consumerPrice[0].maxPrice}}</label>
                    <label>
                      <b>Average Margin:
                      </b>
                      {{item.consumerPrice[0].averageMargin}}</label>
                  </div>
                </div>
              </div>
            </md-tab>
            <md-tab label="Distribution Price">
              <div ng-repeat="item in data.statistics" layout="column" style="margin: 10px;">
                <div class="md-whiteframe-2dp" style="padding: 10px">
                  <legend>
                    <b>{{item.type}}</b>
                  </legend>
                  <table show-gt-lg show-md hide-sm hide-xs style="width:100%;  margin-top: 10px; border-collapse: collapse;">
                    <thead>
                      <tr>
                        <td>Average Price</td>
                        <td>Standard Deviation</td>
                        <td>Minimun Price</td>
                        <td>Maximun Price</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>{{item.distributionPrice[0].averagePrice}}</th>
                        <th>{{item.distributionPrice[0].standardDeviation}}</th>
                        <th>{{item.distributionPrice[0].minPrice}}</th>
                        <th>{{item.distributionPrice[0].maxPrice}}</th>
                      </tr>
                    </tbody>
                  </table>
                  <div hide-gt-sm show-sm show-xs layout="column">
                    <label>
                      <b>Average Price:
                      </b>
                      {{item.distributionPrice[0].averagePrice}}</label>
                    <label>
                      <b>Standard Deviation:
                      </b>
                      {{item.distributionPrice[0].standardDeviation}}</label>
                    <label>
                      <b>Minimun Price:
                      </b>
                      {{item.distributionPrice[0].minPrice}}</label>
                    <label>
                      <b>Maximun Price:
                      </b>
                      {{item.distributionPrice[0].maxPrice}}</label>
                  </div>
                </div>
              </div>
            </md-tab>
            <md-tab label="Stations">
              <div ng-repeat="item in data.stations" class="md-whiteframe-2dp" layout="column" style="margin: 10px;">
                <div style="padding: 10px" layout="column">
                  <div layout="row" layout-align="center center">
                    <h3>{{item.name}}</h3>
                  </div>
                  <div layout-gt-sm="row" layout-sm="column" layout-xs="column">
                    <label flex>
                      <b>Address:</b>
                      {{item.address}}</label>
                    <label>
                      <b>Area:
                      </b>{{item.area}}
                    </label>
                  </div>
                  <div layout="row">
                    <label flex>
                      <b>Flag:
                      </b>
                      {{item.name}}
                    </label>
                  </div>
                </div>
                <fieldset style="margin: 10px;">
                  <legend>Prices</legend>
                  <div ng-repeat="price in item.prices" style="margin-top: 10px;">
                    <legend>
                      <b>{{price.type}}</b>
                    </legend>
                    <table show-gt-lg show-md hide-sm hide-xs style="width:100%;  margin-top: 10px; border-collapse: collapse;">
                      <thead>
                        <tr>
                          <td>Sell Price</td>
                          <td>Buy Price</td>
                          <td>Sale Mode</td>
                          <td>Provider</td>
                          <td>Date</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th>{{price.sellPrice}}</th>
                          <th>{{price.buyPrice}}</th>
                          <th>{{price.saleMode}}</th>
                          <th>{{price.provider}}</th>
                          <th>{{price.date}}</th>
                        </tr>
                      </tbody>
                    </table>
                    <div hide-gt-sm show-sm show-xs layout="column">
                      <label>
                        <b>Sell Price:
                        </b>
                        {{price.sellPrice}}</label>
                      <label>
                        <b>Buy Price:
                        </b>
                        {{price.buyPrice}}</label>
                      <label>
                        <b>Sale MOde:
                        </b>
                        {{price.saleMode}}</label>
                      <label>
                        <b>Provider:
                        </b>
                        {{price.provider}}</label>
                      <label>
                        <b>Date:
                        </b>
                        {{price.date}}</label>
                    </div>
                  </div>
                </fieldset>
              </div>
            </md-tab>
          </md-tabs>
        </div>
      </div>
    </section>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="close()" class="md-primary md-raised">CLOSE</md-button>
  </md-dialog-actions>
</md-dialog>
